In [3]:
import pandas as pd

### Par datiem

Vidējās darījumu cenas dzīvokļiem
Dati apkopoti par darījumiem ar dzīvojamām telpu grupām, kas Kadastra informācijas sistēmā reģistrētas dzīvokļu īpašumu sastāvā.

Vidējās dzīvokļu darījumu cenas tiek attēlotas EUR/m2 un aprēķinātas kā statistiskais rādītājs mediāna (vidējā vērtība sakārtotā skaitļu kopā).

Ņemot vērā nekustamo īpašumu tirgū cenu atšķirības pēc 2000. gada būvētām daudzdzīvokļu mājām, atsevišķi nodalīti dzīvokļu darījumi:

Ēkās, kas būvētas pirms 2000. gada;
Ēkās, kas būvētas pēc 2000. gada jeb jauno projektu mājas.
Vidējās darījumu cenas atspoguļotas pa dažādām teritoriju grupām:

Dzīvokļiem ēkās, kas būvētas pirms 2000.gada – Rīgā, Jūrmalā, pārējās valstspilsētās, Rīgas ietekmes teritorijās, pilsētās ar augstāku vērtību līmeni un pilsētās ar zemāku vērtību līmeni kopā ar lauku teritorijām;
Jauno projektu dzīvokļiem – Rīgā, Jūrmalā un Rīgas ietekmes teritorijās.
Visos grafikos ar vertikālām līnijām parādīts spēkā esošai kadastrālo vērtību bāzei izmantotās nekustamā īpašuma tirgus informācijas atskaites punkts – 2013. gads un jaunai bāzei izmantotās tirgus informācijas atskaites punkts – 2019. gada 1. jūlijs.

2018.gadā pirmreizēji publicēto darījumu statistika var atšķirties no pašreiz sagatavotās, jo tirgus datu bāze papildināta ar iepriekšējo gadu darījumiem, kas zemesgrāmatā reģistrēti vēlāk, kā arī precizēti datu kopu sagatavošanas nosacījumi teritoriju, objektu, darījumu cenu atlasei.

Atbilstoši administratīvi teritoriālai reformai, mainīts teritoriju dalījums un tas ietekmē arī aprēķinu rezultātus. Skaidrojums par teritoriju kopu izmaiņām pieejams šeit:

Dati pieejami no 2011. gada

In [5]:



# Sērijveida dzīvokļu cenas Rīgā un Jūrmalā
url_dz_cenas_riga_jurmala_serij_2021 = 'https://data.gov.lv/dati/dataset/0c77683b-74a0-47a2-834b-b349cedb8beb/resource/bbe18a38-db35-4e47-9bdc-7f9cf651507b/download/dz_cenas_riga_jurmala_serij_2021-1.csv'
dz_cenas_riga_jurmala_serij_2021 = pd.read_csv(url_dz_cenas_riga_jurmala_serij_2021)

# Dzīvokļu cenas Rīgas un Jūrmalas jaunajos 
url_dz_cenas_riga_jurmala_jaunie_2021 = 'https://data.gov.lv/dati/dataset/0c77683b-74a0-47a2-834b-b349cedb8beb/resource/3f4e4c80-1296-459b-b96f-9d3b81b3b26b/download/dz_cenas_riga_jurmala_jaunie_2021-1.csv'
dz_cenas_riga_jurmala_jaunie_2021 = pd.read_csv(url_dz_cenas_riga_jurmala_jaunie_2021)

# Dzīvokļu cenas Rīgas ietekmes teritorijā
url_dz_cenas_rigas_ietek_terit_2021 = 'https://data.gov.lv/dati/dataset/0c77683b-74a0-47a2-834b-b349cedb8beb/resource/f2c7f33e-8248-48bf-8cb3-56f9ea7eacf5/download/dz_cenas_rigas_ietek_terit_2021-1.csv'
dz_cenas_rigas_ietek_terit_2021 = pd.read_csv(url_dz_cenas_rigas_ietek_terit_2021)


# Sērijveida dzīvoklu cenas valstspilsētās
url_dz_cenas_valstspilsetas_serij_2021 = 'https://data.gov.lv/dati/dataset/0c77683b-74a0-47a2-834b-b349cedb8beb/resource/0547641e-ac38-4c7e-8fcd-bc095ff7a4c0/download/dz_cenas_valstspilsetas_serij_2021-1.csv'
dz_cenas_valstspilsetas_serij_2021 = pd.read_csv(url_dz_cenas_valstspilsetas_serij_2021)

# Dzīvokļu cenas pilsētās ar augstāku vērtību 
url_dz_cenas_reg_augsts_vert_lim_2021 = 'https://data.gov.lv/dati/dataset/0c77683b-74a0-47a2-834b-b349cedb8beb/resource/767fa84b-f89c-4e0a-90b0-702abbb2a7ba/download/dz_cenas_reg_augsts_vert_lim_2021-1.csv'
dz_cenas_reg_augsts_vert_lim_2021 = pd.read_csv(url_dz_cenas_reg_augsts_vert_lim_2021)

# Dzīvokļu cenas pilsētās ar zemāku vērtību līmeni
url_dz_cenas_reg_zems_vert_lim_2021 = 'https://data.gov.lv/dati/dataset/0c77683b-74a0-47a2-834b-b349cedb8beb/resource/987ec4a7-7e99-45c7-abf7-4fe6d2d1e1fb/download/dz_cenas_reg_zems_vert_lim_2021-1.csv'
dz_cenas_reg_zems_vert_lim_2021 = pd.read_csv(url_dz_cenas_reg_zems_vert_lim_2021)

dz_cenas_riga_jurmala_serij_2021.head()

,Gads un pusgads,Vidējā cena (EUR/m2) Rīga_Centrs,Darījumu skaits Rīga_Centrs,Vidējā cena (EUR/m2) Rīga_Mikrorajoni,Darījumu skaits Rīga_Mikrorajoni,"Vidējā cena (EUR/m2) Jūrmala_Sloka, Kauguri","Darījumu skaits Jūrmala_Sloka, Kauguri"
0,2011-1,1019,97,449,1165,310,78
1,2011-2,885,138,446,1491,334,83
2,2012-1,888,150,469,1415,329,93
3,2012-2,1063,212,498,1679,323,99
4,2013-1,957,177,541,1748,343,107

In [7]:
dz_cenas_reg_zems_vert_lim_2021.head()

,Gads un pusgads,Vidējā cena (EUR/m2) Kurzeme,Darījumu skaits Kurzeme,Vidējā cena (EUR/m2) Latgale,Darījumu skaits Latgale,Vidējā cena (EUR/m2) Vidzeme,Darījumu skaits Vidzeme,Vidējā cena (EUR/m2) Zemgale,Darījumu skaits Zemgale
0,2011-1,87,60,67,56,73,72,89,60
1,2011-2,76,92,46,92,90,111,68,98
2,2012-1,64,63,52,103,73,136,63,83
3,2012-2,68,94,39,113,80,141,70,113
4,2013-1,74,97,44,84,74,157,72,111